.photo-grid {
  display: -webkit-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -moz-box;
  display: flex;
  flex-direction: column;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 92px;
}

@media screen and (max-width: 1080px) {
  .photo-grid {
    margin: 92px 48px 0 48px;
  }
}

@media screen and (max-width: 768px) {
  .photo-grid {
    margin: 88px 24px 0 24px;
  }
}

@media screen and (max-width: 425px) {
  .photo-grid {
    margin: 88px 16px 0 16px;
  }
}
