.card__text {
  padding: 0;
  margin: 0;
  display: -webkit-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -moz-box;
  display: flex;
  flex-direction: column;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  align-self: start;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 163%;
  grid-column: 2;
  grid-row: 2;
}

@media screen and (max-width: 1023px) {
  .card__text {
    font-size: 16px;
    grid-column: 2;
    grid-row: 2;
  }
}

@media screen and (max-width: 767px) {
  .card__text {
    grid-column: 1;
    grid-row: 3;
    margin: 0 24px;
  }
}

@media screen and (max-width: 425px) {
  .card__text {
    margin: 0 16px;
  }
}
