.footer__links {
  padding: 0;
  margin: 0;
  list-style: none;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: minmax(min-content, max-content)
                    minmax(min-content, max-content)
                    minmax(min-content, max-content)
                    minmax(min-content, max-content)
                    minmax(min-content, max-content);
  grid-template-columns: repeat(5, minmax(min-content, max-content));
  -ms-grid-rows: 1fr;
  grid-template-rows: 1fr;
  gap: 0 18px;
}

@media screen and (max-width: 767px) {
  .footer__links {
    -ms-grid-rows: minmax(min-content, max-content)
                    minmax(min-content, max-content)
                    minmax(min-content, max-content)
                    minmax(min-content, max-content)
                    minmax(min-content, max-content);
    grid-template-rows: repeat(5, minmax(min-content, max-content));
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    gap: 32px 0;
  }
}
