.card__website {
  padding: 0;
  margin: 0;
  font-style: normal;
  -ms-flex-item-align: end;
  -ms-grid-row-align: end;
  align-self: end;
}

@media screen and (max-width: 767px) {
  .card__website {
    display: none;
  }
}
