.intro {
  -ms-flex-item-align: start;
  -ms-grid-row-align: start;
  align-self: start;
  text-align: left;
  margin: 92px calc((100% - 984px) / 2) 0 calc((100% - 984px) / 2);
}

@media screen and (max-width: 1080px){
  .intro {
    margin: 92px 0 0 0;
  }
}

@media screen and (max-width: 768px) {
  .intro {
    margin-top: 88px;
  }
}

@media screen and (max-width: 425px) {
  .intro {
    margin-top: 64px;
  }
}
