.cover {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 100%;
  min-height: 740px;
  background: url(../../images/cover-trains.jpg) center / contain no-repeat;
  margin-top: 92px;
  position: relative;
  align-self: stretch;
  object-fit: cover;
  object-position: top left;
}

.cover::before {
  content: '';
  background-color: #2a2c2f;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  opacity: .3;
  transition: opacity .25s;
}

@media screen and (min-width: 1024px) {
  .cover:hover::before {
    opacity: .8;
  }
}

@media screen and (max-width: 1024px) {
  .cover {
    min-height: 640px;
  }
}

@media screen and (max-width: 768px) {
  .cover {
    min-height: 480px;
  }
}

@media screen and (max-width: 425px) {
  .cover {
    min-height: 266px;
  }
}

@media screen and (max-width: 320px) {
  .cover {
    min-height: 200px;
  }
}
