.content-subtitle__margin_l {
  margin: 0 64px 72px;
}

@media screen and (max-width: 1023px) {
  .content-subtitle__margin_l {
    margin: 0 0 66px;
  }
}

@media screen and (max-width: 767px) {
  .content-subtitle__margin_l {
    margin: 0 0 42px;
  }
}
